$bg-default: #554555;
$bg-active: #B6AFBC;

$text-grey: #6e6e6e;
$text-grey-light: #e6e6e6;

$btn-blue: #29ABE2;
$btn-green: #22B573;
$btn-pink: #CE3A8B;
$btn-grey: #B6AFBC;

$default-padding: 20px;
$default-margin: 20px;
