<header>
  <nav class="header__wrapper">
    <div class="img-message"></div>

    <div class="position-relative h-100">
      <div class="header__locations">
        My Home
        <img class="img-arrow" src="../../../assets/img/arrow-down.png" alt="arrow">
      </div>
      <!--<div class="header__locations-active">-->
        <!--My Home-->
        <!--<img class="img-arrow" src="../../../assets/img/arrow-up.png" alt="arrow">-->
      <!--</div>-->
    </div>

    <div class="img-logo"></div>
  </nav>
</header>

