<div class="service__wrapper">

  <div class="service__header">
    <div class="service__header_image"></div>
    <div class="service__header_info">
      <div>
        <div class="service__header_info-name">
          F-Secure Antivirus
        </div>
        <div class="service__header_info-description">
          Full protection for your phone
        </div>
      </div>
      <button type="button" class="btn btn-blue service__header_info-btn">
        Deactivate
      </button>
    </div>
  </div>

  <div class="service__body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto aspernatur ea eaque eligendi eos maiores perferendis possimus suscipit? Deserunt dolore earum eum fugiat iusto magnam molestias, qui rerum tempora.
  </div>
  <div class="service__footer">
    By F-Secure, release 1.205.5
  </div>
</div>
