<div class="messages_wrapper text-secondary">
  <div class="message">
  <!--<div class="message message-active">-->

    <div class="message-line">
      <div class="message__img"></div>
      <div class="message__info">

        <div class="message__info-time"> 11:42 </div>

        <div class="message__info-header">
          <div class="font-weight-bold text-dark"> Lorem ipsum dolor sit amet. </div>
          <div>
            <span class="font-weight-bold text-dark"> F-Secure </span> My Home
          </div>
        </div>

        <div class="message__info-body">
            Blocked access from Desktop PC to bat.com
        </div>

        <div class="message__info-footer">
          <div class="d-flex">
            <div class="btn btn-green btn-mr"> Allow </div>
            <div class="btn btn-pink"> Deny </div>
            <!--<div class="btn btn-pink"> Block </div>-->
          </div>
          <div class="btn btn-grey"> Manage </div>
        </div>

      </div>
    </div>
  </div>
  <!--<div class="message">-->
  <div class="message message-active">

    <div class="message-line">
      <div class="message__img"></div>
      <div class="message__info">

        <div class="message__info-time"> 11:42 </div>

        <div class="message__info-header">
          <div class="font-weight-bold text-dark"> Lorem ipsum dolor sit amet. </div>
          <div>
            <span class="font-weight-bold text-dark"> F-Secure </span> My Home
          </div>
        </div>

        <div class="message__info-body">
            Blocked access from Desktop PC to bat.com
            Blocked access from Desktop PC to bat.com
            Blocked access from Desktop PC to bat.com
        </div>

        <div class="message__info-footer">
          <div class="d-flex">
            <div class="btn btn-green btn-mr"> Allow </div>
            <div class="btn btn-pink"> Deny </div>
            <!--<div class="btn btn-pink"> Block </div>-->
          </div>
          <div class="btn btn-grey"> Manage </div>
        </div>

      </div>
    </div>
  </div>

</div>
