<div class="h-100 services__wrapper">
  <mat-tab-group class="h-100">
    <mat-tab label="My Services">
      <div class="services__my h-100">
        <div class="title__services">
          4 services activated
        </div>
        <div class="wrapper__container">
          <div class="services__image">

          </div>
          <div class="services__description">
            <div class="description__title">
              Lorem ipsum dolor sit amet
            </div>
            <div class="description__profile">
              Lorem ipsum dolor sit amet
            </div>
            <div class="button-wrapper">
              <div class="manage-btn">
                Manage
              </div>
              <a href="#" class="email"> </a>
              <a href="#" class="email info"> </a>
            </div>
          </div>
        </div>
        <div class="wrapper__container">
          <div class="services__image">

          </div>
          <div class="services__description">
            <div class="description__title">
              Lorem ipsum dolor sit amet
            </div>
            <div class="description__profile">
              Lorem ipsum dolor sit amet
            </div>
            <div class="button-wrapper">
              <div class="manage-btn">
                Manage
              </div>
              <a href="#" class="email"> </a>
              <a href="#" class="email info"> </a>
            </div>
          </div>
        </div>
        <div class="wrapper__container">
          <div class="services__image">

          </div>
          <div class="services__description">
            <div class="description__title">
              Lorem ipsum dolor sit amet
            </div>
            <div class="description__profile">
              Lorem ipsum dolor sit amet
            </div>
            <div class="button-wrapper">
              <div class="manage-btn">
                Manage
              </div>
              <a href="#" class="email"> </a>
              <a href="#" class="email info"> </a>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Vs Store">
      <div class="services__my h-100">
        <div class="wrapper__store">
          <div class="title-store"> Antivirus</div>
          <div class="wrapper__container__store">
            <div class="services__image_store">
              <div class="store-image"></div>
              <div class="store-title"> Avast</div>
            </div>
            <div class="services__image_store">
              <div class="store-image"></div>
              <div class="store-title"> Avast</div>
            </div>
            <div class="services__image_store">
              <div class="store-image"></div>
              <div class="store-title"> Avast</div>
            </div>
            <div class="services__image_store">
              <div class="store-image"></div>
              <div class="store-title"> Avast</div>
            </div>
            <div class="services__image_store">
              <div class="store-image"></div>
              <div class="store-title"> Avast</div>
            </div>
          </div>
        </div>
        <div class="wrapper__store">
          <div class="title-store"> Antivirus</div>
          <div class="wrapper__container__store">
            <div class="services__image_store">
              <div class="store-image"></div>
              <div class="store-title"> Avast</div>
            </div>
            <div class="services__image_store">
              <div class="store-image"></div>
              <div class="store-title"> Avast</div>
            </div>
            <div class="services__image_store">
              <div class="store-image"></div>
              <div class="store-title"> Avast</div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
